aniso8601==8.1.0
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
dnspython==2.0.0
email-validator==1.1.2
et-xmlfile==1.0.1
Flask==1.1.2
Flask-RESTful==0.3.8
Flask-WTF==0.14.3
idna==2.10
importlib-metadata==3.3.0
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.2
Markdown==3.3.3
MarkupSafe==1.1.1
mysql-connector==2.2.9
mysql-connector-python==8.0.22
numpy==1.19.4
openpyxl==3.0.5
pandas==1.1.5
protobuf==3.14.0
python-dateutil==2.8.1
pytz==2020.4
requests==2.25.0
six==1.15.0
typing-extensions==3.7.4.3
urllib3==1.26.2
Werkzeug==1.0.1
WTForms==2.3.3
xlrd==2.0.1
youtube-dl==2020.12.2
zipp==3.4.0
